  {
    "openapi": "3.0.0",
    "info": {
      "title": "Sparkle Wash API Documentation",
      "version": "1.0.0",
      "description": "API documentation for Car Wash, Service, and Order management system",
      "contact": {
        "name": "Naveen",
        "email": "support@sparklewash.com"
      }
    },
    "servers": [
      {
        "url": "https://carwash.hfadigitalcreations.com/"
      }
    ],
    "paths": {
      "/User/registerUser": {
        "post": {
          "tags": [
            "Customer"
          ],
          "summary": "Register a new user",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerRegister"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "User registered successfully"
            },
            "400": {
              "description": "Bad request / Missing fields"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/User/login": {
        "post": {
          "tags": [
            "Customer"
          ],
          "summary": "Login user",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLogin"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Login successful"
            },
            "400": {
              "description": "Invalid credentials"
            },
            "404": {
              "description": "User not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/User/forgotPassword": {
        "post": {
          "tags": [
            "Customer"
          ],
          "summary": "Send password reset link to user's email",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerForgotPassword"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Password reset link sent successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Password reset link sent to email ✅"
                      },
                      "resetUrl": {
                        "type": "string",
                        "example": "http://localhost:3000/resetPassword/abc123token"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad request / Missing email"
            },
            "404": {
              "description": "User not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/User/resetPassword/{token}": {
        "put": {
          "tags": [
            "Customer"
          ],
          "summary": "Reset user password using token",
          "parameters": [
            {
              "name": "token",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Password reset token"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResetPassword"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Password reset successful"
            },
            "400": {
              "description": "Invalid or expired token"
            },
            "404": {
              "description": "User not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/User/getAllUsers": {
        "get": {
          "tags": [
            "Customer"
          ],
          "summary": "Get all users",
          "responses": {
            "200": {
              "description": "List of users fetched successfully"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/User/getUserById/{id}": {
        "get": {
          "tags": [
            "Customer"
          ],
          "summary": "Get user by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "User ID"
            }
          ],
          "responses": {
            "200": {
              "description": "User fetched successfully"
            },
            "404": {
              "description": "User not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/User/updateProfile/{id}": {
        "put": {
          "tags": [
            "Customer"
          ],
          "summary": "Update a user by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "User ID"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerUpdate"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "User updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "User updated successfully ✅"
                      },
                      "user": {
                        "$ref": "#/components/schemas/CustomerResponse"
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "User not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/User/deleteUser/{id}": {
        "delete": {
          "tags": [
            "Customer"
          ],
          "summary": "Delete a user by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "User ID"
            }
          ],
          "responses": {
            "200": {
              "description": "User deleted successfully"
            },
            "404": {
              "description": "User not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/banner/createCustomerBanner": {
        "post": {
          "tags": [
            "CustomerBanner"
          ],
          "summary": "Create a new banner",
          "requestBody": {
            "required": true,
            "content": {
              "multipart/form-data": {
                "schema": {
                  "$ref": "#/components/schemas/Banner"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Banner created successfully"
            },
            "500": {
              "description": "Error creating banner"
            }
          }
        }
      },
      "/banner/getallCustomerBanner": {
        "get": {
          "tags": [
            "CustomerBanner"
          ],
          "summary": "Get all banners",
          "responses": {
            "200": {
              "description": "List of all banners"
            },
            "500": {
              "description": "Error fetching banners"
            }
          }
        }
      },
      "/banner/updateCustomerBanner/{id}": {
        "put": {
          "tags": [
            "CustomerBanner"
          ],
          "summary": "Update a banner by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Banner ID"
            }
          ],
          "requestBody": {
            "required": false,
            "content": {
              "multipart/form-data": {
                "schema": {
                  "$ref": "#/components/schemas/Banner"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Banner updated successfully"
            },
            "404": {
              "description": "Banner not found"
            },
            "500": {
              "description": "Error updating banner"
            }
          }
        }
      },
      "/banner/deleteCustomerBanner/{id}": {
        "delete": {
          "tags": [
            "CustomerBanner"
          ],
          "summary": "Delete a banner by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Banner ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Banner deleted successfully"
            },
            "404": {
              "description": "Banner not found"
            },
            "500": {
              "description": "Error deleting banner"
            }
          }
        }
      },
      "/service/create": {
        "post": {
          "tags": [
            "ServiceType"
          ],
          "summary": "Create a new wash service type",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WashService"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Service created successfully"
            },
            "500": {
              "description": "Error creating service"
            }
          }
        }
      },
      "/service/getall": {
        "get": {
          "tags": [
            "ServiceType"
          ],
          "summary": "Get all wash service types",
          "responses": {
            "200": {
              "description": "List of all services"
            },
            "500": {
              "description": "Error fetching services"
            }
          }
        }
      },
      "/service/{id}": {
        "get": {
          "tags": [
            "ServiceType"
          ],
          "summary": "Get a service type by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Service ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Service fetched successfully"
            },
            "404": {
              "description": "Service not found"
            },
            "500": {
              "description": "Error fetching service"
            }
          }
        }
      },
      "/service/update/{id}": {
        "put": {
          "tags": [
            "ServiceType"
          ],
          "summary": "Update a service type by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Service ID"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WashService"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Service updated successfully"
            },
            "404": {
              "description": "Service not found"
            },
            "500": {
              "description": "Error updating service"
            }
          }
        }
      },
      "/service/delete/{id}": {
        "delete": {
          "tags": [
            "ServiceType"
          ],
          "summary": "Delete a service type by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Service ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Service deleted successfully"
            },
            "404": {
              "description": "Service not found"
            },
            "500": {
              "description": "Error deleting service"
            }
          }
        }
      },

      "/washBooking/createWashBooking": {
        "post": {
          "tags": [
            "Wash Booking"
          ],
          "summary": "Create a new wash booking",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WashBooking"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Booking created successfully"
            },
            "400": {
              "description": "Missing or invalid fields"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washBooking/getAllWashBookings": {
        "get": {
          "tags": [
            "Wash Booking"
          ],
          "summary": "Fetch all wash bookings",
          "responses": {
            "200": {
              "description": "All wash bookings fetched successfully"
            },
            "404": {
              "description": "No bookings found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washBooking/getWashBookingById/{id}": {
        "get": {
          "tags": [
            "Wash Booking"
          ],
          "summary": "Fetch a wash booking by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "652a1f3e2b9871dabc123456"
            }
          ],
          "responses": {
            "200": {
              "description": "Booking fetched successfully"
            },
            "404": {
              "description": "Booking not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washBooking/getBookingsByCustomerId/{customerId}": {
        "get": {
          "tags": [
            "Wash Booking"
          ],
          "summary": "Fetch all bookings for a specific customer",
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "68e9eb5372ffcf9a50ca0d03"
            }
          ],
          "responses": {
            "200": {
              "description": "Bookings fetched successfully"
            },
            "400": {
              "description": "Invalid customer ID"
            },
            "404": {
              "description": "No bookings found for this customer"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
 "/washBooking/getBookingDetails/{id}": {
  "get": {
    "tags": ["Wash Booking"],
    "summary": "Fetch detailed booking info including progress updates",
    "description": "Returns full booking details including linked customer, washer details, and current progress status (e.g., On the Way, Started, Washing In Progress, Completed).",
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "example": "652a1f3e2b9871dabc123456"
      }
    ],
    "responses": {
      "200": {
        "description": "Booking details fetched successfully",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WashBookingDetails"
            }
          }
        }
      },
      "404": { "description": "Booking not found" },
      "400": { "description": "Invalid booking ID" },
      "500": { "description": "Server error" }
    }
  }
},
      "/washBooking/updateWashBooking/{id}": {
        "put": {
          "tags": [
            "Wash Booking"
          ],
          "summary": "Update a wash booking by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "652a1f3e2b9871dabc123456"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WashBookingUpdate"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Booking updated successfully"
            },
            "404": {
              "description": "Booking not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washBooking/deleteWashBooking/{id}": {
        "delete": {
          "tags": [
            "Wash Booking"
          ],
          "summary": "Delete a wash booking by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "652a1f3e2b9871dabc123456"
            }
          ],
          "responses": {
            "200": {
              "description": "Booking deleted successfully"
            },
            "404": {
              "description": "Booking not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washBooking/cancelWashBooking/{id}": {
        "put": {
          "tags": [
            "Wash Booking"
          ],
          "summary": "Cancel a wash booking by ID",
          "description": "Allows a customer or admin to cancel a wash booking and provide a reason for cancellation.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "652a1f3e2b9871dabc123456"
            }
          ],
          "requestBody": {
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WashBookingCancel"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Booking cancelled successfully"
            },
            "400": {
              "description": "Invalid booking ID or already cancelled"
            },
            "404": {
              "description": "Booking not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/addToCart/addProductCart": {
        "post": {
          "tags": [
            "Cart"
          ],
          "summary": "Add a product to cart",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddProductRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Product added to cart",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "example": "Product added to cart"
                      },
                      "cart": {
                        "$ref": "#/components/schemas/CartResponse"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "404": {
              "description": "Product or cart not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "AddProductRequest": {
        "type": "object",
        "required": [
          "customerId",
          "productId",
          "quantity"
        ],
        "properties": {
          "customerId": {
            "type": "string",
            "description": "ID of the customer"
          },
          "productId": {
            "type": "string",
            "description": "ID of the product"
          },
          "quantity": {
            "type": "integer",
            "default": 1,
            "description": "Quantity of the product"
          }
        }
      },
      "/addToCart/addServiceCart": {
        "post": {
          "tags": [
            "Cart"
          ],
          "summary": "Add service items to cart",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddServiceRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Service added to cart",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CartResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/addToCart/getAllCarts/all": {
        "get": {
          "tags": [
            "Cart"
          ],
          "summary": "Get all carts (admin)",
          "responses": {
            "200": {
              "description": "List of all carts",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CartListResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/addToCart/getCartByCustomerId/{customerId}": {
        "get": {
          "tags": [
            "Cart"
          ],
          "summary": "Get cart for a specific customer",
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Customer ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Customer's cart",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CartResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Cart not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/addToCart/removeItemFromCart": {
        "put": {
          "tags": [
            "Cart"
          ],
          "summary": "Remove an item from cart",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveItemRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Item removed from cart",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CartResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "404": {
              "description": "Cart not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/addToCart/clearCart/{customerId}": {
        "delete": {
          "tags": [
            "Cart"
          ],
          "summary": "Clear all items from a customer's cart",
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Customer ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Cart cleared",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CartResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Cart not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },


      "/CustomerShopping/createOrder": {
      "post": {
        "tags": ["CustomerShopping"],
        "summary": "Create a new order (auto-fetches customer details)",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrderCreate" } } } },
        "responses": {
          "201": { "description": "Order created successfully (includes customer snapshot)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrderResponse" } } } },
          "400": { "description": "Validation error or missing fields" },
          "404": { "description": "Customer not found" },
          "500": { "description": "Server error" }
        }
      }
    },
    "/CustomerShopping/getAllOrders": {
      "get": {
        "tags": ["CustomerShopping"],
        "summary": "Get all orders (includes customer snapshot)",
        "responses": {
          "200": { "description": "Orders fetched successfully", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/OrderResponse" } } } } },
          "404": { "description": "No orders found" },
          "500": { "description": "Server error" }
        }
      }
    },
    "/CustomerShopping/getOrderById/{id}": {
      "get": {
        "tags": ["CustomerShopping"],
        "summary": "Get order by ID (includes customer snapshot)",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "example": "652a1f3e2b9871dabc123456" }],
        "responses": {
          "200": { "description": "Order fetched successfully", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrderResponse" } } } },
          "404": { "description": "Order not found" },
          "500": { "description": "Server error" }
        }
      }
    },
    "/CustomerShopping/getOrderDetails/{id}": {
      "get": {
        "tags": ["CustomerShopping"],
        "summary": "Get detailed order info (includes customer, picker, delivery person, and product details)",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "example": "652a1f3e2b9871dabc123456" }],
        "responses": {
          "200": { "description": "Detailed order fetched successfully", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OrderDetailsResponse" } } } },
          "404": { "description": "Order not found" },
          "500": { "description": "Server error" }
        }
      }
    },
      "/CustomerShopping/getOrderedItems/{customerId}": {
        "get": {
          "tags": [
            "CustomerShopping"
          ],
          "summary": "Get all orders for a specific customer (includes customer snapshot)",
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "68e9eb5372ffcf9a50ca0d03"
            }
          ],
          "responses": {
            "200": {
              "description": "Customer orders fetched successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderResponse"
                    }
                  }
                }
              }
            },
            "404": {
              "description": "No orders found for this customer"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/CustomerShopping/cancelOrder/{id}": {
        "put": {
          "tags": [
            "CustomerShopping"
          ],
          "summary": "Cancel an order by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "652a1f3e2b9871dabc123456"
            }
          ],
          "requestBody": {
            "required": false,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderCancel"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Order cancelled successfully"
            },
            "400": {
              "description": "Invalid order ID or already cancelled"
            },
            "404": {
              "description": "Order not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/CustomerShopping/deleteOrder/{id}": {
        "delete": {
          "tags": [
            "CustomerShopping"
          ],
          "summary": "Delete an order by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "652a1f3e2b9871dabc123456"
            }
          ],
          "responses": {
            "200": {
              "description": "Order deleted successfully"
            },
            "404": {
              "description": "Order not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },



      "/ServiceBooking/createServiceOrder": {
        "post": {
          "summary": "Create a new service booking order",
          "tags": [
            "ServiceBooking"
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceBooking"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Service order created successfully"
            },
            "400": {
              "description": "Validation error"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/ServiceBooking/getAllServiceOrders": {
        "get": {
          "summary": "Get all service orders (Admin)",
          "tags": [
            "ServiceBooking"
          ],
          "responses": {
            "200": {
              "description": "All service orders fetched successfully"
            },
            "404": {
              "description": "No service orders found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/ServiceBooking/getServiceOrdersByCustomer/{customerId}": {
        "get": {
          "summary": "Get all service orders by customer ID",
          "tags": [
            "ServiceBooking"
          ],
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "6710d40ef8c1f9a4a5b6c123"
            }
          ],
          "responses": {
            "200": {
              "description": "Orders fetched successfully"
            },
            "404": {
              "description": "No service orders found for this customer"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/ServiceBooking/getServiceOrderById/{orderId}": {
        "get": {
          "summary": "Get single service order by ID",
          "tags": [
            "ServiceBooking"
          ],
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "6710d4f1b3a9a0a6a6b8e125"
            }
          ],
          "responses": {
            "200": {
              "description": "Service order fetched successfully"
            },
            "404": {
              "description": "Order not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/ServiceBooking/getServiceBookingDetails/{id}": {
  "get": {
    "summary": "Get service booking details with technician info",
    "tags": ["ServiceBooking"],
    "parameters": [
      {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" },
        "example": "6710d4f1b3a9a0a6a6b8e125"
      }
    ],
    "responses": {
      "200": {
        "description": "Service booking details fetched successfully",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "serviceBooking": {
                  "type": "object",
                  "properties": {
                    "_id": { "type": "string" },
                    "customerId": { "$ref": "#/components/schemas/Customer" },
                    "serviceItems": { "type": "array" },
                    "address": { "type": "object" },
                    "date": { "type": "string" },
                    "time": { "type": "string" },
                    "payment": { "type": "object" },
                    "serviceStatus": { "type": "string" },
                    "isTechnicianAccepted": { "type": "boolean" },
                    "technicianDetails": {
                      "type": "object",
                      "properties": {
                        "technicianId": { "type": "string" },
                        "fullName": { "type": "string" },
                        "phone": { "type": "string" },
                        "avgRating": { "type": "number" }
                      }
                    },
                    "createdAt": { "type": "string" },
                    "updatedAt": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      },
      "404": { "description": "Service booking not found" },
      "500": { "description": "Server error" }
    }
  }
},
      "/ServiceBooking/cancelServiceOrder/{orderId}": {
        "put": {
          "summary": "Cancel a service order by ID",
          "tags": [
            "ServiceBooking"
          ],
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "6710d4f1b3a9a0a6a6b8e125"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceBookingCancel"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Service order cancelled successfully"
            },
            "400": {
              "description": "Order is already cancelled or missing ID"
            },
            "404": {
              "description": "Service order not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/ServiceBooking/updateServiceOrder/{orderId}": {
        "put": {
          "summary": "Update a service order",
          "tags": [
            "ServiceBooking"
          ],
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "6710d4f1b3a9a0a6a6b8e125"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceBookingUpdate"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Service order updated successfully"
            },
            "404": {
              "description": "Order not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/ServiceBooking/deleteServiceOrder/{orderId}": {
        "delete": {
          "summary": "Delete a service order by ID",
          "tags": [
            "ServiceBooking"
          ],
          "parameters": [
            {
              "name": "orderId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "6710d4f1b3a9a0a6a6b8e125"
            }
          ],
          "responses": {
            "200": {
              "description": "Service order deleted successfully"
            },
            "404": {
              "description": "Order not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },

      "/address/createAddress": {
        "post": {
          "tags": [
            "Address"
          ],
          "summary": "Create a new address",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressCreate"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Address created successfully"
            },
            "400": {
              "description": "Missing required fields"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/address/getAddressByCustomerId/{customerId}": {
        "get": {
          "tags": [
            "Address"
          ],
          "summary": "Get address by customer ID",
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Customer ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Address fetched successfully"
            },
            "404": {
              "description": "Address not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/address/getAllAddress": {
        "get": {
          "tags": [
            "Address"
          ],
          "summary": "Get all addresses",
          "responses": {
            "200": {
              "description": "Addresses fetched successfully"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/address/GetAddressById/{id}": {
        "get": {
          "tags": [
            "Address"
          ],
          "summary": "Get address by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Address ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Address fetched successfully"
            },
            "404": {
              "description": "Address not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/address/updateAddress/{id}": {
        "put": {
          "tags": [
            "Address"
          ],
          "summary": "Update address by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Address ID"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressUpdate"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Address updated successfully"
            },
            "404": {
              "description": "Address not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/address/deleteAddress/{id}": {
        "delete": {
          "tags": [
            "Address"
          ],
          "summary": "Delete address by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Address ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Address deleted successfully"
            },
            "404": {
              "description": "Address not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/RatingS/createRating": {
        "post": {
          "tags": [
            "Ratings"
          ],
          "summary": "Create a new rating",
          "description": "Allows a customer to rate a service employee after booking.",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRatingRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Rating created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RatingResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/RatingS/getRatingsByCustomer/{customerId}": {
        "get": {
          "tags": [
            "Ratings"
          ],
          "summary": "Get all ratings by a customer",
          "parameters": [
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Customer ID"
            }
          ],
          "responses": {
            "200": {
              "description": "List of ratings by the customer",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ratings": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/RatingResponse"
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid customerId"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/RatingS/getRatingsByEmployee/{employeeId}": {
        "get": {
          "tags": [
            "Ratings"
          ],
          "summary": "Get all ratings for a specific employee",
          "parameters": [
            {
              "name": "employeeId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Employee ID"
            }
          ],
          "responses": {
            "200": {
              "description": "List of ratings for the employee",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ratings": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/RatingResponse"
                        }
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/RatingS/getEmployeeSummary/{employeeId}/summary": {
        "get": {
          "tags": [
            "Ratings"
          ],
          "summary": "Get employee rating summary",
          "parameters": [
            {
              "name": "employeeId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Employee ID"
            }
          ],
          "responses": {
            "200": {
              "description": "Employee average rating summary",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EmployeeSummary"
                  }
                }
              }
            },
            "404": {
              "description": "Employee not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/RatingS/updateRating/{ratingId}": {
        "put": {
          "tags": [
            "Ratings"
          ],
          "summary": "Update a rating",
          "description": "Allows the customer who created a rating to update it.",
          "parameters": [
            {
              "name": "ratingId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Rating ID"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRatingRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Rating updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RatingResponse"
                  }
                }
              }
            },
            "403": {
              "description": "Not allowed"
            },
            "404": {
              "description": "Rating not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/RatingS/deleteRating/{ratingId}": {
        "delete": {
          "tags": [
            "Ratings"
          ],
          "summary": "Soft delete a rating",
          "description": "Hides a rating instead of permanently deleting it (only owner or admin can perform this).",
          "parameters": [
            {
              "name": "ratingId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Rating ID"
            },
            {
              "name": "customerId",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "Customer ID attempting to delete the rating"
            }
          ],
          "responses": {
            "200": {
              "description": "Rating hidden (soft deleted) successfully"
            },
            "403": {
              "description": "Not allowed"
            },
            "404": {
              "description": "Rating not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/RatingS/admin/getAllRatings": {
        "get": {
          "tags": [
            "Ratings"
          ],
          "summary": "Get all ratings (including soft-deleted)",
          "description": "Allows admin to see all ratings regardless of isDeleted status",
          "responses": {
            "200": {
              "description": "List of all ratings",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ratings": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/RatingResponse"
                        }
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/RatingS/admin/getDeletedRatings": {
        "get": {
          "tags": [
            "Ratings"
          ],
          "summary": "Get only soft-deleted ratings",
          "description": "Allows admin to see ratings that customers have soft-deleted",
          "responses": {
            "200": {
              "description": "List of soft-deleted ratings",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ratings": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/RatingResponse"
                        }
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },


      "/washerEmp/createWasherEmployee": {
  "post": {
    "summary": "Create a new washer employee with documents",
    "tags": ["WasherEmployee"],
    "requestBody": {
      "required": true,
      "content": {
        "multipart/form-data": {
          "schema": {
            "type": "object",
            "properties": {
              "fullName": { "type": "string", "example": "John Doe" },
              "phone": { "type": "string", "example": "9876543210" },
              "email": { "type": "string", "example": "john@example.com" },
              "password": { "type": "string", "example": "password123" },
              "dateOfBirth": { "type": "string", "format": "date", "example": "1990-05-15" },
              "gender": { "type": "string", "enum": ["Male","Female","Other"], "example": "Male" },
              "referredBy": { "type": "string", "example": "REF1234", "description": "Optional referral code" },
              "serviceCategories": { "type": "array", "items": { "type": "string" }, "example": ["Washing","Repair"] },
              "role": { "type": "string", "enum": ["Washing Personnel","Delivery Person","Repair Service Technician","Product Seller"], "example": "Washing Personnel" },
              "street": { "type": "string", "example": "123 Anna Street" },
              "city": { "type": "string", "example": "Chennai" },
              "state": { "type": "string", "example": "Tamil Nadu" },
              "postalCode": { "type": "string", "example": "600040" },
              "country": { "type": "string", "example": "India" },
              "longitude": { "type": "number", "example": 80.2707 },
              "latitude": { "type": "number", "example": 13.0827 },
              "emergencyName": { "type": "string", "example": "Jane Doe" },
              "emergencyPhone": { "type": "string", "example": "9876543211" },
              "vehicleType": { "type": "string", "example": "Bike" },
              "vehicleModel": { "type": "string", "example": "Honda Activa" },
              "licensePlate": { "type": "string", "example": "TN01AB1234" },
              "registrationCertificate": { "type": "string", "format": "binary", "description": "Upload RC document" },
              "drivingLicense": { "type": "string", "format": "binary", "description": "Upload DL document" },
              "aadhaarCard": { "type": "string", "format": "binary", "description": "Upload Aadhaar card" },
              "accountHolderName": { "type": "string", "example": "John Doe" },
              "accountNumber": { "type": "string", "example": "1234567890" },
              "ifscCode": { "type": "string", "example": "SBIN0001234" },
              "termsAccepted": { "type": "boolean", "example": true }
            },
            "required": ["fullName","phone","email","password","dateOfBirth","gender","role","street","emergencyName","emergencyPhone"]
          }
        }
      }
    },
    "responses": {
      "201": { "description": "Washer employee created successfully" },
      "400": { "description": "Validation error" },
      "500": { "description": "Server error" }
    }
  }
},
      "/washerEmp/getAllWasherEmployees": {
        "get": {
          "summary": "Get all washer employees",
          "tags": [
            "WasherEmployee"
          ],
          "responses": {
            "200": {
              "description": "Fetched all washer employees"
            },
            "404": {
              "description": "No washer employees found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washerEmp/getWasherEmployeeById/{id}": {
        "get": {
          "summary": "Get a washer employee by ID",
          "tags": [
            "WasherEmployee"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "6710d4f1b3a9a0a6a6b8e125"
            }
          ],
          "responses": {
            "200": {
              "description": "Washer employee fetched successfully"
            },
            "404": {
              "description": "Washer employee not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washerEmp/updateWasherEmployee/{id}": {
  "put": {
    "summary": "Update a washer employee by ID with documents",
    "tags": ["WasherEmployee"],
    "parameters": [
      { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "multipart/form-data": {
          "schema": {
            "type": "object",
            "properties": {
              "fullName": { "type": "string" },
              "phone": { "type": "string" },
              "email": { "type": "string" },
              "password": { "type": "string" },
              "dateOfBirth": { "type": "string", "format": "date" },
              "gender": { "type": "string" },
              "referredBy": { "type": "string", "description": "Optional referral code" },
              "serviceCategories": { "type": "array", "items": { "type": "string" } },
              "role": { "type": "string" },
              "street": { "type": "string" },
              "city": { "type": "string" },
              "state": { "type": "string" },
              "postalCode": { "type": "string" },
              "country": { "type": "string" },
              "longitude": { "type": "number" },
              "latitude": { "type": "number" },
              "emergencyName": { "type": "string" },
              "emergencyPhone": { "type": "string" },
              "vehicleType": { "type": "string" },
              "vehicleModel": { "type": "string" },
              "licensePlate": { "type": "string" },
              "registrationCertificate": { "type": "string", "format": "binary" },
              "drivingLicense": { "type": "string", "format": "binary" },
              "aadhaarCard": { "type": "string", "format": "binary" },
              "accountHolderName": { "type": "string" },
              "accountNumber": { "type": "string" },
              "ifscCode": { "type": "string" },
              "termsAccepted": { "type": "boolean" }
            }
          }
        }
      }
    },
    "responses": {
      "200": { "description": "Washer employee updated successfully" },
      "404": { "description": "Employee not found" },
      "500": { "description": "Server error" }
    }
  }
}
,
      "/washerEmp/deleteWasherEmployee/{id}": {
        "delete": {
          "summary": "Delete a washer employee by ID",
          "tags": [
            "WasherEmployee"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "example": "6710d4f1b3a9a0a6a6b8e125"
            }
          ],
          "responses": {
            "200": {
              "description": "Washer employee deleted successfully"
            },
            "404": {
              "description": "Washer employee not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },

      "/washerEmpShedule/washerAcceptBooking": {
        "post": {
          "tags": [
            "WasherEmpSchedule"
          ],
          "summary": "Accept a wash booking",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptDeclineBooking"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Booking accepted successfully"
            },
            "400": {
              "description": "Invalid ID"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washerEmpShedule/washerDeclineBooking": {
        "post": {
          "tags": [
            "WasherEmpSchedule"
          ],
          "summary": "Decline a wash booking",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptDeclineBooking"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Booking declined successfully"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washerEmpShedule/updateBookingStatus/{scheduleId}": {
        "put": {
          "tags": [
            "WasherEmpSchedule"
          ],
          "summary": "Update booking status",
          "parameters": [
            {
              "name": "scheduleId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "On the Way",
                        "Started",
                        "Completed",
                        "Declined"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Status updated successfully"
            },
            "400": {
              "description": "Invalid scheduleId"
            },
            "404": {
              "description": "Schedule not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washerEmpShedule/getAllWasherSchedules": {
        "get": {
          "tags": [
            "WasherEmpSchedule"
          ],
          "summary": "Get all schedules or schedules for a specific washer",
          "parameters": [
            {
              "name": "washerId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Optional washer ID to filter schedules"
            }
          ],
          "responses": {
            "200": {
              "description": "Schedules fetched successfully"
            },
            "404": {
              "description": "No schedules found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/washerEmpShedule/deleteSchedule/{scheduleId}": {
        "delete": {
          "tags": [
            "WasherEmpSchedule"
          ],
          "summary": "Delete a schedule",
          "parameters": [
            {
              "name": "scheduleId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Schedule deleted successfully"
            },
            "404": {
              "description": "Schedule not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/DeliveryPerson/acceptOrder": {
        "post": {
          "tags": [
            "DeliveryPersonSchedule"
          ],
          "summary": "Accept a delivery order",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptDeclineOrder"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Order accepted successfully"
            },
            "400": {
              "description": "Invalid ID or employee not a Delivery Person"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/DeliveryPerson/declineOrder": {
        "post": {
          "tags": [
            "DeliveryPersonSchedule"
          ],
          "summary": "Decline a delivery order",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptDeclineOrder"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Order declined successfully"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/DeliveryPerson/updateOrderStatus/{scheduleId}": {
        "put": {
          "tags": [
            "DeliveryPersonSchedule"
          ],
          "summary": "Update order status",
          "parameters": [
            {
              "name": "scheduleId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "On the Way",
                        "Picked Up",
                        "Completed",
                        "Cancelled"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Status updated successfully"
            },
            "400": {
              "description": "Invalid scheduleId"
            },
            "404": {
              "description": "Schedule not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/DeliveryPerson/getAllSchedules": {
        "get": {
          "tags": [
            "DeliveryPersonSchedule"
          ],
          "summary": "Get all schedules or schedules for a specific delivery person",
          "parameters": [
            {
              "name": "deliveryPersonId",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              },
              "description": "Optional delivery person ID to filter schedules"
            }
          ],
          "responses": {
            "200": {
              "description": "Schedules fetched successfully"
            },
            "404": {
              "description": "No schedules found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/DeliveryPerson/deleteSchedule/{scheduleId}": {
        "delete": {
          "tags": [
            "DeliveryPersonSchedule"
          ],
          "summary": "Delete a delivery schedule",
          "parameters": [
            {
              "name": "scheduleId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Schedule deleted successfully"
            },
            "404": {
              "description": "Schedule not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },


       "/repairTechnician/createRepairTechnician": {
    "post": {
      "tags": ["RepairTechnician"],
      "summary": "Create a new Repair Technician",
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/RepairTechnician" }
          }
        }
      },
      "responses": {
        "201": { "description": "Repair Technician created successfully" },
        "400": { "description": "Error creating Repair Technician" }
      }
    }
  },
  "/repairTechnician/getAllRepairTechnicians": {
    "get": {
      "tags": ["RepairTechnician"],
      "summary": "Get all Repair Technicians",
      "responses": {
        "200": {
          "description": "List of all Repair Technicians",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/RepairTechnician" }
              }
            }
          }
        },
        "500": { "description": "Error fetching technicians" }
      }
    }
  },
  "/repairTechnician/getRepairTechnicianById/{id}": {
    "get": {
      "tags": ["RepairTechnician"],
      "summary": "Get Repair Technician by ID",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" },
          "description": "MongoDB ObjectId of the technician"
        }
      ],
      "responses": {
        "200": { "description": "Repair Technician fetched successfully" },
        "400": { "description": "Invalid ID" },
        "404": { "description": "Repair Technician not found" },
        "500": { "description": "Error fetching technician" }
      }
    }
  },
  "/repairTechnician/updateRepairTechnician/{id}": {
    "put": {
      "tags": ["RepairTechnician"],
      "summary": "Update Repair Technician",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" },
          "description": "MongoDB ObjectId of the technician"
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/RepairTechnician" }
          }
        }
      },
      "responses": {
        "200": { "description": "Repair Technician updated successfully" },
        "400": { "description": "Error updating technician" },
        "404": { "description": "Repair Technician not found" }
      }
    }
  },
  "/repairTechnician/deleteRepairTechnician/{id}": {
    "delete": {
      "tags": ["RepairTechnician"],
      "summary": "Delete Repair Technician",
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": { "type": "string" },
          "description": "MongoDB ObjectId of the technician"
        }
      ],
      "responses": {
        "200": { "description": "Repair Technician deleted successfully" },
        "400": { "description": "Invalid ID" },
        "404": { "description": "Repair Technician not found" },
        "500": { "description": "Error deleting technician" }
      }
    }
  },

  "/repairService/createService": {
      "post": {
        "tags": ["RepairService"],
        "summary": "Create a new repair service",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Service created successfully"
          },
          "400": {
            "description": "Validation error"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/repairService/getAllServices": {
      "get": {
        "tags": ["RepairService"],
        "summary": "Get all repair services",
        "responses": {
          "200": {
            "description": "List of all services",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllServicesResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/repairService/serviceById/{serviceId}": {
      "get": {
        "tags": ["RepairService"],
        "summary": "Get service details by ID",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the service to retrieve"
          }
        ],
        "responses": {
          "200": {
            "description": "Service details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Service"
                }
              }
            }
          },
          "404": {
            "description": "Service not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/repairService/getAlltechnician/{repairTechnicianId}": {
      "get": {
        "tags": ["RepairService"],
        "summary": "Get all services created by a specific repair technician",
        "parameters": [
          {
            "name": "repairTechnicianId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the repair technician"
          }
        ],
        "responses": {
          "200": {
            "description": "List of services by technician",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllServicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid technician ID"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/repairService/updateService/{serviceId}": {
      "put": {
        "tags": ["RepairService"],
        "summary": "Update an existing repair service",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the service to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service updated successfully"
          },
          "404": {
            "description": "Service not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/repairService/deleteService/{serviceId}": {
      "delete": {
        "tags": ["RepairService"],
        "summary": "Delete a repair service by ID",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the service to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Service deleted successfully"
          },
          "404": {
            "description": "Service not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },



       "/repairTechnicanSchedule/acceptService": {
    "post": {
      "tags": ["Repair Technician Schedule"],
      "summary": "Accept a customer service request",
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AcceptServiceRequest"
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Service accepted successfully",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptServiceResponse"
              }
            }
          }
        },
        "400": {
          "description": "Invalid ID or bad request"
        },
        "500": {
          "description": "Server error"
        }
      }
    }
  },
  "/repairTechnicanSchedule/declineService": {
    "post": {
      "tags": ["Repair Technician Schedule"],
      "summary": "Decline a customer service request",
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeclineServiceRequest"
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Service declined successfully"
        },
        "500": {
          "description": "Server error"
        }
      }
    }
  },
  "/repairTechnicanSchedule/updateService/{scheduleId}": {
    "put": {
      "tags": ["Repair Technician Schedule"],
      "summary": "Update service status (On the Way / Service Started / Completed / Cancelled)",
      "parameters": [
        {
          "in": "path",
          "name": "scheduleId",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Schedule ID to update"
        }
      ],
      "requestBody": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateServiceStatus"
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Status updated successfully"
        },
        "404": {
          "description": "Schedule not found"
        },
        "500": {
          "description": "Server error"
        }
      }
    }
  },
  "/repairTechnicanSchedule/getAllSchedules": {
    "get": {
      "tags": ["Repair Technician Schedule"],
      "summary": "Fetch all or technician-specific schedules",
      "parameters": [
        {
          "in": "query",
          "name": "repairTechnicianId",
          "schema": {
            "type": "string"
          },
          "description": "Filter by technician ID"
        }
      ],
      "responses": {
        "200": {
          "description": "Schedules fetched successfully"
        },
        "404": {
          "description": "No schedules found"
        },
        "500": {
          "description": "Server error"
        }
      }
    }
  },
  "/repairTechnicanSchedule/deleteSchedule/{scheduleId}": {
    "delete": {
      "tags": ["Repair Technician Schedule"],
      "summary": "Delete a technician schedule",
      "parameters": [
        {
          "in": "path",
          "name": "scheduleId",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Schedule ID to delete"
        }
      ],
      "responses": {
        "200": {
          "description": "Schedule deleted successfully"
        },
        "404": {
          "description": "Schedule not found"
        },
        "500": {
          "description": "Server error"
        }
      }
    }
  },


      "/productSeller/createProductSeller": {
        "post": {
          "tags": [
            "ProductSeller"
          ],
          "summary": "Create a new Product Seller",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSellerInput"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Product Seller created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProductSellerResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Error creating Product Seller"
            }
          }
        }
      },
      "/productSeller/getAllProductSellers": {
        "get": {
          "tags": [
            "ProductSeller"
          ],
          "summary": "Get all Product Sellers",
          "responses": {
            "200": {
              "description": "All Product Sellers fetched successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ProductSeller"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/productSeller/getProductSellerById/{id}": {
        "get": {
          "tags": [
            "ProductSeller"
          ],
          "summary": "Get Product Seller by ID",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Product Seller fetched successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProductSellerResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Product Seller not found"
            }
          }
        }
      },
      "/productSeller/updateProductSeller/{id}": {
        "put": {
          "tags": [
            "ProductSeller"
          ],
          "summary": "Update Product Seller",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSellerInput"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Product Seller updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProductSellerResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Product Seller not found"
            }
          }
        }
      },
      "/productSeller/deleteProductSeller/{id}": {
        "delete": {
          "tags": [
            "ProductSeller"
          ],
          "summary": "Delete Product Seller",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Product Seller deleted successfully"
            },
            "404": {
              "description": "Product Seller not found"
            }
          }
        }
      },

      "/product/createProduct": {
        "post": {
          "tags": [
            "Product"
          ],
          "summary": "Create a new product",
          "requestBody": {
            "required": true,
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sellerId": {
                      "type": "string",
                      "example": "64f123abc456def78901234"
                    },
                    "productTitle": {
                      "type": "string",
                      "example": "Car Shampoo"
                    },
                    "productDescription": {
                      "type": "string",
                      "example": "High-quality car shampoo"
                    },
                    "unitPrice": {
                      "type": "number",
                      "example": 299
                    },
                    "stockQuantity": {
                      "type": "number",
                      "example": 50
                    },
                    "productImage": {
                      "type": "string",
                      "format": "binary"
                    }
                  },
                  "required": [
                    "sellerId",
                    "productTitle",
                    "productDescription",
                    "unitPrice",
                    "stockQuantity",
                    "productImage"
                  ]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Product created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProductResponse"
                  }
                }
              }
            },
            "400": {
              "description": "All fields are required"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/product/getAllProducts": {
        "get": {
          "tags": [
            "Product"
          ],
          "summary": "Get all products",
          "responses": {
            "200": {
              "description": "All products fetched successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProductsListResponse"
                  }
                }
              }
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/product/getProductById/{productId}": {
        "get": {
          "tags": [
            "Product"
          ],
          "summary": "Get product by ID",
          "parameters": [
            {
              "name": "productId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Product fetched successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            },
            "404": {
              "description": "Product not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/product/getAllProductsBySellerId/{sellerId}": {
        "get": {
          "tags": [
            "Product"
          ],
          "summary": "Get all products by seller ID",
          "parameters": [
            {
              "name": "sellerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Products for the seller fetched successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProductsListResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid Seller ID"
            },
            "404": {
              "description": "Seller not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/product/updateProduct/{productId}": {
        "put": {
          "tags": [
            "Product"
          ],
          "summary": "Update product by ID",
          "parameters": [
            {
              "name": "productId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "productTitle": {
                      "type": "string"
                    },
                    "productDescription": {
                      "type": "string"
                    },
                    "unitPrice": {
                      "type": "number"
                    },
                    "stockQuantity": {
                      "type": "number"
                    },
                    "productImage": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Product updated successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProductResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Product not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/product/deleteProduct/{productId}": {
        "delete": {
          "tags": [
            "Product"
          ],
          "summary": "Delete product by ID",
          "parameters": [
            {
              "name": "productId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Product deleted successfully"
            },
            "404": {
              "description": "Product not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },

      "/seller-orders/accept": {
        "post": {
          "tags": [
            "SellerOrderTrack"
          ],
          "summary": "Accept a customer order",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptOrderRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Seller order accepted",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SellerOrderTrackResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/seller-orders/status/{trackId}": {
        "put": {
          "tags": [
            "SellerOrderTrack"
          ],
          "summary": "Update seller order status",
          "parameters": [
            {
              "name": "trackId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "ID of the seller order track"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOrderStatusRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Order status updated",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SellerOrderTrackResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid ID"
            },
            "404": {
              "description": "Track not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/seller-orders": {
        "get": {
          "tags": [
            "SellerOrderTrack"
          ],
          "summary": "Get all seller orders or filter by sellerId",
          "parameters": [
            {
              "name": "sellerId",
              "in": "query",
              "schema": {
                "type": "string"
              },
              "description": "Filter orders by seller ID"
            }
          ],
          "responses": {
            "200": {
              "description": "List of seller orders",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      },
                      "orders": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/SellerOrderTrackResponse"
                        }
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "No orders found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/seller-orders/{trackId}": {
        "delete": {
          "tags": [
            "SellerOrderTrack"
          ],
          "summary": "Delete a seller order track",
          "parameters": [
            {
              "name": "trackId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Track deleted successfully"
            },
            "400": {
              "description": "Invalid track ID"
            },
            "404": {
              "description": "Track not found"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },

      "/contactQuery/createQuery": {
        "post": {
          "tags": [
            "ContactQuery"
          ],
          "summary": "Create a new contact query",
          "requestBody": {
[...]
